html, body { 
    margin: 0; padding: 0;
    overflow-x: hidden;
    font-family: 'Droid Sans', 'Roboto', 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
}

body {
    position: relative;
    padding: 0;
    height:100%;
}

#container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#controls {
    width: 280px;
    padding: 5px;
}
form {
    display:block;
    padding:0; margin:0;
}
#cd {
    width: 306px;
}
#controls h3 {
    text-align: right;
}
#controls input#word {
    width: 100px;
}
#controls input#timestep, #controls input#drag_coeff {
    width: 70px;
}
canvas { 
    display: block;
    padding: 0;
    border-top: 3px dashed #333;
    border-bottom: 3px dashed #333;
    border-left: 3px dotted #333;
    border-right: 3px dotted #333;
    -ms-touch-action: none;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

canvas:active {
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
