html, body { 
    margin: 0; padding: 0;
    overflow-x: hidden;
}

body {
    position: relative;
    padding: 0;
    height:100%;
}

#controls {
    width: 80%;
    margin: 20px auto;
}
canvas { 
    display: block;
    margin: 0 auto;
    padding: 0;
    border-top: 3px dashed #333;
    border-bottom: 3px dashed #333;
    border-left: 3px dotted #333;
    border-right: 3px dotted #333;
    -ms-touch-action: none;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

canvas:active {
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
